.Roll-center {
  width: 822px;
  height: 250px;
  overflow: hidden;
  clear: both;
}
.Roll {
  width: 822px;
  height: 400px;
}
.Roll div {
  display: flex;
}
.Roll .Roll-name {
  width: 400px;
  height: 50px;
  line-height: 50px;
  margin-right: 70px;
  margin-left: 10px;
}
.Roll .Roll-location {
  width: 202px;
  height: 50px;
  line-height: 50px;
  margin-right: 70px;
}
.Roll .Roll-time {
  width: 70px;
  height: 50px;
  line-height: 50px;
}
